---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

// const posts = await Astro.glob("../pages/blog/*.md");
const posts = await getCollection("blog");

const postsList = posts.sort((a, b) => {
  return new Date(a.data.date) < new Date(b.data.date) ? 1 : -1;
});
---

<Layout title="Blog" classes="p-8 flex-1 flex justify-center">
  <div class="prose margin-auto">
    <h1 class="lg:pt-10 prose-h2">If I was a person who writes...</h1>
    <p class="prose-p">
      I'd have a list of blogs. I'd write to sharpen how I think about things.
      People who write well express themselves in a way that
      I find super appealing. This blog is my occasional attempt at that.
    </p>
    <section>
      {
        postsList.map((post) => (
          <article>
            <h2 class="prose-h3">{post.data.title}</h2>
            <p>{post.data.description}
            <a class="pl-8" href={`/blog/${post.slug}`}>read</a>
            </p>
          </article>
        ))
      }
    </section>
  </div>
</Layout>
