---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Me">
  <main>
    <h1>Fitzsimons dot dev</h1>
    <section>Some content here</section>
    <p>
      Honestly? I've never once finished a blog. If this actually becomes a form
      that you can sumbit a question... wow. I'll be really pleased with myself
    </p>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }
</style>
