---
import Layout from "../layouts/Layout.astro";

const list = [
  {
    name: "SaaS",
    link: "https://comicshelper.com/",
    title: "Comics Helper",
    description:
      "An unprofitable SaaS but a passion project. Hopefully, over time I can get better at this.",
  },
  {
    name: "Project",
    link: "https://sevensingletables.com/",
    title: "Seven Single Tables",
    description:
      "A project for me to learn single table design, although slightly simpler.",
  },
  {
    name: "Podcast",
    title: "The Process is Black and White",
    link: "https://www.theprocessisblackandwhite.com/",
    description: "Two friends read books and talk about them",
  },
  {
    name: "VSCode Extension",
    title: "RTL Quick Debug",
    link: "https://marketplace.visualstudio.com/items?itemName=fitzsimonsdevin.rtl-quick-debug",
    description:
      "Mostly this is a little set of helpers that I use just for me.",
  },
];
---

<Layout title="Projects" classes="p-8">
  <section class="prose prose-slate mb-8">
    <h1 class="text-3xl">I work on a variety of projects!</h1>
    <p class="text-xl">
      I work on a few different things. Mostly, because I find them interesting.
      In theory, because some day I want to make money from the internet and not
      from a <a
        target="_blank"
        href="https://www.linkedin.com/in/fitzsimonsdevin/"
        class="bg-white px-1 font-thin no-underline">real job</a
      >. For now I'm working on things that I get value out of, that can maybe
      provide value for others.
    </p>
  </section>

  <div class="grid sm:grid-cols-2 grid-flow-row gap-4">
    {
      list.map((item) => {
        return (
          <article>
            <div class="bg-slate-50 p-4 h-full rounded-sm">
              <h2>{item.name}</h2>
              <a href={item.link}>
                <h3 class="underline">{item.title}</h3>
              </a>
              <p>{item.description}</p>
            </div>
          </article>
        );
      })
    }
  </div>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }
</style>
