---
import Layout from "../layouts/Layout.astro";
---

<Layout title="success">
    <h1>Welp... this is the sucess page.</h1>
    <p>I have no idea what content to put here. So this is it.</p>
    <p>TBH, I'm not actually sure that the email you sent went anywhere.</p>
</Layout>
