---
const { page } = Astro.props;
---

<header class="bg-slate-600 border-b-amber-600 border-b-4 mb-4 font-light">
    <nav
        class="sm:flex sm:justify-between max-w-7xl m-auto p-6 pb-4 text-slate-50"
    >
        <div class="mx-4 text-3xl text-center mb-4 sm:text-left sm:mb-0">
            <a href="/">Fitzsimons.dev</a>
        </div>
        <ul class="flex justify-center">
            <li class="mx-4 text-xl sm:text-3xl"><a href="/about">About</a></li>
            <li class="mx-4 text-xl sm:text-3xl">
                <a href="/projects">Projects</a>
            </li>
            <li class="mx-4 text-xl sm:text-3xl">
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>
